.article-list {
    &__filters {
        padding: 0.5em;
        display: grid;
        grid-template-rows: 2em 2em;
        row-gap: 1.5em;

        & > section {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        & > div {
            grid-row: 2;
            width: 35%;
        }
    }
    &__items {
        padding: 1em 0;
    }

    .dropdown .fas {
        margin-right: 0.5em;
    }
}
