.add-comment {
    margin: 1em 0;

    &__container {
        background-color: #fff;
        padding: 7px 15px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 2px;
        cursor: pointer;

        &:not(.add-comment__container--is-mask) .add-comment__pseudo-input-mask span {
            display: none;
            position: absolute;
        }

        &:not(.add-comment__container--not-empty) .add-comment__pseudo-input-mask span {
            display: block;
            user-select: none;
        }

        &--focused {
            border-color: var(--blue);
        }
    }

    &__pseudo-input {
        padding-bottom: 1.5em;
        outline: 0;
        padding-top: 7px;
        font-size: 0.95em;
    }

    &__pseudo-input-actions {
        display: flex;
        justify-content: flex-end;
    }

    &__add-button {
        width: 6em;
    }

    &__cancel-button {
        text-align: center;
        align-self: center;
        color: gray;
        font-size: 0.9em;
        padding: 0 1em;
        user-select: none;

        span {
            border-bottom: 1px dotted gray;
        }

        &:active {
            transform: translateY(1px);

            span {
                color: red;
                border-bottom: 1px dotted red;
            }
        }

        &:hover {
            color: red;
        }
    }

    &__pseudo-input-mask {
        position: relative;

        span {
            font-size: 0.95em;
            line-height: 34px;
            color: #818181;
            pointer-events: none;
        }
    }
}
