.comment-container {
    padding: 0.8em;

    &--deep {
        padding: 0.3em 0.8em;
    }

    &__info {
        display: inline;

        span {
            font-weight: bold;
        }

        & > * {
            padding-right: 8px;
        }
    }

    &__action {
        font-size: 0.9em;
        color: gray;
        cursor: pointer;
        user-select: none;

        &--color--blue {
            color: #4086e0;
        }

        &:hover {
            color: red !important;
        }
        &:active {
            color: #a50000 !important;
        }
    }

    &__content {
        p {
            margin: 0;
            padding: 0.8em 0;
        }
    }

    &__actions {
        padding-bottom: 0.5em;
    }

    &__replies-container {
        position: relative;

        &:hover .comment-container__replies-tree-trunk {
            display: block;
        }
    }

    &__replies {
        padding-left: 1.5em;
        border-left: 1px dashed #ccc;
    }

    &__replies-tree-trunk {
        display: none;
        position: absolute;
        width: 32px;
        height: 100%;
        left: 0;
        top: 0;
        cursor: pointer;

        &:hover {
            border-left: 2px solid #4086e0;
        }
    }
}
