.search {
    margin: auto;

    &__input {
        border: 1px solid rgba(0, 0, 0, 0.15);

        border-radius: 4px 0 0 4px;
        padding: 5px 0.7em 5px 1.5em;

        &::-webkit-search-cancel-button {
            margin: 0 5px;
            cursor: pointer;
        }

        &:not(&-single) {
            border-right: none;
        }

        &-single {
            border-radius: 4px;
            border-color: rgba(0, 0, 0, 0.5);
        }
    }

    &__button,
    &__input {
        transition: 0.2s ease;
        cursor: pointer;
        user-select: none;

        &:focus {
            outline: none;
        }
    }

    &__button {
        border: 1px solid rgba(0, 0, 0, 0.15);
        border-radius: 0 4px 4px 0;
        padding: 5px 1.2em 5px 1em;
        background: none;
        color: black;
        background: white;

        &:active {
            background: rgba(0, 0, 0, 0.15);
        }
    }

    &__input:focus,
    &__input:focus ~ &__button {
        border-color: rgba(0, 0, 0, 0.75);
    }

    &__input:not(:placeholder-shown) ~ &__button,
    &__input:not(:placeholder-shown) {
        border-color: rgba(0, 0, 0, 0.75);
    }

    &__button:not(:focus):hover,
    &__input:not(:focus):hover {
        background: rgba(0, 0, 0, 0.1);
    }
}
