.side-panel__content-container {
    padding-left: 15em;
    margin: 4em 0.5em 0.5em;

    .side-panel__content {
        border: 1px solid rgba(0, 0, 0, 0.125);
        border-radius: 0.25rem;
        padding: 0.5em;
    }
}
