.comment {
    padding: 0.8em;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.25fr min-content 0.25fr;
    grid-template-areas:
        "Heading"
        "Content"
        "Footer";

    &__heading {
        display: flex;
    }

    &__avatar {
        width: 5em;

        @media (max-width: 1024px) {
            width: 4em;
        }
    }

    &__avatar-img {
        width: 3em;
        height: 3em;
        border: 1px solid rgba(0, 0, 0, 0.15);
        border-radius: 8px;

        &--only-initials {
            display: flex;
            justify-content: center;
            align-items: center;
            background: rgba(0, 0, 0, 0.05);
            user-select: none;
        }
    }

    &__info {
        display: flex;
        width: 95%;
        align-items: center;
    }

    &__postedTime-container {
        width: 15%;

        @media (max-width: 1440px) {
            width: 30%;
        }
    }

    &__postedTime {
        cursor: help;
        user-select: none;
    }

    // &__actions {
    //     margin-left: auto;
    //     width: auto;
    //     align-self: flex-start;

    //     .fas {
    //         cursor: pointer;

    //         &:hover {
    //             color: orchid;
    //         }
    //     }
    // }

    &__author {
        width: 10%;

        @media (max-width: 1440px) {
            width: 20%;
        }
    }

    &__response {
        span {
            cursor: pointer;
            
            &:hover {
                text-decoration: none;
                color: rgb(0, 140, 133);
            }
            .fas {
                margin-right: 5px;
            }
        }
    }

    &__content {
        grid-area: Content;

        p {
            margin: 0;
            padding: 0.8em 0;
            white-space: pre-line;
        }
    }

    &__footer {
        grid-area: Footer;
        padding-bottom: 0.5em;
    }

    &__action {
        font-size: 0.9em;
        cursor: pointer;
        user-select: none;

        &:hover {
            color: red;
        }
        &:active {
            color: #a50000;
        }
    }

    .gray-color {
        color: rgba(0, 0, 0, 0.5);
    }
}
